:root {
  --bgColor: #f9f9f9;
  --defaultFont: #000000;

  /* 색상 */
  --gray10: #ffffff;
  --gray20: #f9f9f9;
  --gray30: #cfcfcf;
  --gray40: #818181;
  --gray50: #515151;
  --gray60: #000000;

  --brown10: #f5f1ee;
  --brown20: #e4d5c9;
  --brown30: #c7bbb5;
  --brown40: #542f1a;
  --brown50: #341909;

  --blue: #1877f2;
  --yellow: #fee500;
  --red: #b93333;
  --pink: #f5a9a9;

  /* 그림자 */
  --shadow1pt: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);
  --shadow2pt: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --shadow3pt: 0px 16px 20px 0px rgba(48, 48, 48, 0.62);

  /* 필터 값 */
  --blueFilter: invert(47%) sepia(95%) saturate(4530%) hue-rotate(202deg) brightness(97%) contrast(95%);
  --redFilter: brightness(0) saturate(100%) invert(27%) sepia(26%) saturate(3214%) hue-rotate(330deg) brightness(103%)
    contrast(101%);
  --gray50Filter: brightness(0) saturate(100%) invert(30%) sepia(4%) saturate(19%) hue-rotate(11deg) brightness(94%)
    contrast(85%);
  --gray60Filter: brightness(0) saturate(100%) invert(100%) sepia(20%) saturate(7458%) hue-rotate(179deg)
    brightness(110%) contrast(111%);
}

html.dark {
  --bgColor: #575d7d;
  --defaultFont: #000000;

  --gray10: #e7ecf0; /* 연한 푸른 회색 */
  --gray20: #a2aeb7; /* 약간 푸른 회색 */
  --gray30: #7a848c; /* 더 푸른 회색 */
  --gray40: #a6acb3; /* 진한 푸른 회색 */
  --gray50: #2d353a; /* 아주 진한 푸른 회색 */
  --gray60: #1a1e21; /* 거의 검정색 푸른 회색 */

  --brown10: #a8c2e5; /* 연한 파란색 */
  --brown20: #7fa0d0; /* 약간 진한 파란색 */
  --brown30: #5285b2; /* 더 진한 파란색 */
  --brown40: #213757; /* 진한 파란색 */
  --brown50: #003f6c; /* 아주 진한 파란색 */

  /* 필터 값 */
  --gray50Filter: brightness(0) saturate(100%) invert(8%) sepia(3%) saturate(7435%) hue-rotate(160deg) brightness(103%)
    contrast(71%);
  --gray60Filter: brightness(0) saturate(100%) invert(12%) sepia(22%) saturate(249%) hue-rotate(163deg) brightness(93%)
    contrast(100%);
  --brown40Filter: brightness(0) saturate(100%) invert(30%) sepia(42%) saturate(1676%) hue-rotate(189deg)
    brightness(88%) contrast(85%);
  --brown20Filter: brightness(0) saturate(100%) invert(74%) sepia(7%) saturate(2155%) hue-rotate(180deg) brightness(83%)
    contrast(96%);
}
